.project-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 850px;
  height: 450px;
  margin: 0 auto;
}

.project-details-title {
  font-size: 1.5rem;
  color: Black;
  margin-bottom: 1.5rem;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.project-details-content {
  display: grid;
  grid-template-columns: 1.1fr 0.6fr 1.1fr 0.6fr;
  width: 100%;
  gap: 1rem;
  font-size: 18px;
  font-weight: 500;
  padding: 3rem 0 3rem 0;
  position: relative;
}

.value {
  color: #666;
  margin-top: 2px;
}

.project-details-content-item {
  display: contents;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  line-height: 1.5;
}

.btn-con {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;

  button {
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    background-color: rgb(211, 248, 204);
    border-radius: 0.25rem;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);

    &:hover {
      box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    }
  }
}

.btn-back {
  font-size: 16px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(212, 248, 204, 0.655);
  transition: background-color 0.3s, box-shadow 0.3s;

  &:hover {
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
  }
}

.arrow {
  width: 14px;
  margin-right: 40px;
  margin-left: 20px;
}
