<div class="project-container" *ngIf="dataLoaded">
  <div class="main-container">
    <h1 class="header">PROJEKTY</h1>
    <mat-spinner *ngIf="!dataLoaded"></mat-spinner>
    <app-table
      [data]="dataSource"
      [columns]="projectColumn"
      [type]="type"
      (delete)="handleDelete($event)"
    ></app-table>
  </div>
  <div class="project-btn-container">
    <button mat-button class="project-btn-gen" (click)="generateRaport()">
      Generuj raport
    </button>
    <button
      mat-button
      class="project-btn-add"
      (click)="openDialog(formaddcomponent)"
    >
      Dodaj {{ type }}
    </button>
  </div>
</div>
